<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/post.css">
  </head>
  <body>
  <div class="header">
        <div class="header_left">
            <a href="/main"><img src="/assets/sub_logo.png" height="80px"></img></a>
            <div class="sub_header">
                <span class="menu"> 축제정보 </span>
                <span class="menu"> 플리마켓 </span>
                <span class="menu_selected"> 푸드트럭 </span>
                <span class="menu"> 축제영상 </span>
            </div>
        </div>
        <div class="header_right">
            하단의 메뉴를 통해 <br/> 세부 카테고리를 볼 수 있어요!
        </div>
    </div>

    <!-- 이 쪽에 본문 내용이 들어갑니다 -->
    <div class = "content">
            <div class="left_side">
            <h1 class="main_title"> <%= @film.title %> 상점을 자세히 알려드릴게요 </h1>
            <!-- 사진, 그리고 상점에 대한 내용을 구현 -->
                <div class="show_content">
                    <!-- 사진을 제외한 오른쪽 상점에 대한 내용을 구현 -->
                    <img class="show_img" src="<%=@film.avatar.url %>"/>
                    <div class = "right_content">
                        <button class="sub_title"><%= @film.sub_title %></button>
                        <button class="sub_title">
                        <% if @film.status == true %>
                            진행중
                        <% elsif @film.status == false %>
                            종료됨
                        <% end %>
                        </button>
                        <p class="show_title"><%=@film.title%></p> <br/>
                        <p class="show_description"><%=@film.content%></p>

                        <button class="sub_title"><%= @film.title %>의 상세 위치를 알려드려요</button>
                        <div id="map" style="width:530px;height:450px;"></div>
                    </div>
                </div>
            </div>
                            <div class="right_side">
                <div class="quickmenu">
                    <a href="/film/playingIndex" class="menu_a">
                        <% if @film.status == false %>
                            <div class="sub_menu">
                                    진행중인 플리마켓
                            </div>        
                        <% elsif @film.status == true %>
                            <div class="sub_menu_selected">
                                    진행중인 플리마켓
                            </div>        
                        <% end %>   
                    </a>

                    <a href="/film/endIndex" class="menu_a">
                        <% if @film.status == false %>
                            <div class="sub_menu_selected">
                                    종료된 플리마켓
                            </div>        
                        <% elsif @film.status == true %>
                            <div class="sub_menu">
                                    종료된 플리마켓
                            </div>        
                        <% end %>      
                    </a>                

                    <form action="/film/status_update/<%=@film.id%>" method="post">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %> <!-- 인증토큰 -->
                        <% if @film.status == false %>
                            <button type="submit" class="status" name="status" value="true"> 이벤트를 진행 상태로 변경 </button>
                        <% elsif @film.status == true %>
                            <button type="submit" class="status" name="status" value="false"> 이벤트를 종료 상태로 변경 </button>
                        <% end %>    
                    <a href="/film/destroy/<%=@film.id%>" onClick="return confirm('정말로 게시글을 삭제하시겠습니까?');"> <button class="status"> 이벤트를 삭제할게요 </button> </a>
                    <a href="/film/edit/<%=@film.id%>"> <button class="status"> 이벤트를 수정할게요 </button> </a>
                    </div>
                </div>
            </div>



                <script>
                    // 마커가 표시될 위치입니다 
                    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
                    var options = { //지도를 생성할 때 필요한 기본 옵션
                        center: new kakao.maps.LatLng(<%=@film.latitude%>, <%=@film.longitude%>), //지도의 중심좌표.
                        level: 3 //지도의 레벨(확대, 축소 정도)
                    };
                    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
                    var markerPosition  = new kakao.maps.LatLng(<%=@film.latitude%>, <%=@film.longitude%>); 
                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        position: markerPosition,
                        clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
                        });

                    // 마커가 지도 위에 표시되도록 설정합니다
                    marker.setMap(map);

                    // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
                    var iwContent = '<div style="padding:10px;"> 이벤트가 여기에 위치해요!</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                        iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

                    // 인포윈도우를 생성합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content : iwContent,
                        removable : iwRemoveable
                    });

                    // 마커에 클릭이벤트를 등록합니다
                    kakao.maps.event.addListener(marker, 'click', function() {
                        // 마커 위에 인포윈도우를 표시합니다
                        infowindow.open(map, marker);  
                    });
                </script>

            </div>
        </div>
    </div>
    </div>
    </form>
    </body>

</html>